h1 {
    text-align: center;
    color: darkblue;
    font-size: 50px;
}
h3 {
    text-align: center;
    color: red;
<<<<<<< HEAD
    font-size: 20px;
}
h4 {
    text-align: center;
    color: darkblue;
    font-size: 20px;
}
span {
    color: darkgoldenrod;
}
ol {
    background: #ff9999;
    padding: 20px;
  }
  
  ul {
    background: #3399ff;
    padding: 20px;
  }
  
  ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
  }
  
  ul li {
    background: #cce5ff;
    margin: 5px;
  }
  a{
      text-decoration: none;
  }
=======
    font-size: 30px;
}
h4 {
    text-align: center;
    color: gold;
    font-size: 30px;
}
>>>>>>> bc2e3795e8c79df3b954e059b04a3d14a9a2cdf9
